/*Tarjetas/Portadas*/
*{
    box-sizing: border-box;
}

.wrapper{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    place-items: center;
    gap: 20px;
}
.card{
    width: 280px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0px 7px 10pX rgba(0, 0, 0, 0, 5);
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translate(20px);   
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.card .info{
    color: #FFF;
    opacity: 0;
    transition: 0.5s all;
    width: 80%;
    margin-left: 30px;
    background-color: #6c5ce7;
    padding: 10px;
    border-radius: 10px;
  }
  .card:hover .info{
    transform: translateY(-120px);
    opacity: 1;
}
.card .info h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.card .info h2{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card .info .btn{
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #a29bfe;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  .card .info .btn:hover{
    padding: 5px 30px;
}